<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            defaultDisplayName="JPA Data Source"
            driverClass="org.eclipse.birt.report.data.oda.jpa.JPADriver"
            id="org.eclipse.birt.report.data.oda.jpa"
            odaVersion="3.0"
            setThreadContextClassLoader="true">
         <properties>
            <property
                  canInherit="true"
                  defaultDisplayName="JPA Configuration File"
                  name="JPACONFIG"
                  type="string">
            </property>
            <property
                  canInherit="true"
                  defaultDisplayName="JPA Mapping Directory"
                  name="MAPDIR"
                  type="string">
            </property>
         </properties>
      </dataSource>
      <dataSet
            defaultDisplayName="JPA Data Set"
            id="org.eclipse.birt.report.data.oda.jpa.dataSet1">
         <dataTypeMapping
               nativeDataType="-7"
               nativeDataTypeCode="BIT"
               odaScalarDataType="Integer">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="-6"
               nativeDataTypeCode="TINYINT"
               odaScalarDataType="Integer">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="5"
               nativeDataTypeCode="SMALLINT"
               odaScalarDataType="Integer">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="4"
               nativeDataTypeCode="INTEGER"
               odaScalarDataType="Integer">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="-5"
               nativeDataTypeCode="BIGINT"
               odaScalarDataType="Decimal">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="6"
               nativeDataTypeCode="FLOAT"
               odaScalarDataType="Double">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="7"
               nativeDataTypeCode="REAL"
               odaScalarDataType="Double">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="8"
               nativeDataTypeCode="DOUBLE"
               odaScalarDataType="Double">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="2"
               nativeDataTypeCode="NUMERIC"
               odaScalarDataType="Decimal">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="3"
               nativeDataTypeCode="DECIMAL"
               odaScalarDataType="Decimal">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="1"
               nativeDataTypeCode="CHAR"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="12"
               nativeDataTypeCode="VARCHAR"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="-1"
               nativeDataTypeCode="LONGVARCHAR"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="91"
               nativeDataTypeCode="DATE"
               odaScalarDataType="Date">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="92"
               nativeDataTypeCode="TIME"
               odaScalarDataType="Time">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="93"
               nativeDataTypeCode="TIMESTAMP"
               odaScalarDataType="Timestamp">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="-2"
               nativeDataTypeCode="BINARY"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="-3"
               nativeDataTypeCode="VARBINARY"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="-4"
               nativeDataTypeCode="LONGVARBINARY"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="16"
               nativeDataTypeCode="BOOLEAN"
               odaScalarDataType="Integer">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="2004"
               nativeDataTypeCode="BLOB"
               odaScalarDataType="Blob">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="2005"
               nativeDataTypeCode="CLOB"
               odaScalarDataType="Clob">
         </dataTypeMapping>
      </dataSet>
   </extension>

</plugin>
